#all {
    background-color: #ffc55c;
    height: 140vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* #header {
    background-color: #fac70b;
} */

.banner {
    background-color: #1c1259;
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 1px solid #000;
    border-bottom-right-radius: 1px solid #000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

h1 {
    text-align: center;
    padding: 10px;
}

.name {
    line-height: 40px;
}

footer {
    width: 500px;
    background-color: #1c1259;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-bottom-left-radius: 1px solid #000;
    border-bottom-right-radius: 1px solid #000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.name {
    line-height: 40px;
    background-color: white;
    color: black;
}

body {
    background-color: #1c1259;
    text-align: center;
    border: solid #1c1259;
}

.blanc {
    color: aliceblue;
    justify-content: center;
    text-align: center;
}

.donwload {
    display: block;
    background: #1ca043;
    /* color: ; */
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    width: 180px;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
}

.donwload:hover {
    background-color: rgb(9, 102, 9);
}

.buttton {
    display: block;
    background: rgb(138, 255, 4);
    /* color: ; */
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    width: 180px;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
}

.btnButtton {
    display: flex;
    justify-content: center;
    align-items: center;
}